[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
autopep8 = "*"

[packages]
bokeh = "*"

[requires]
python_version = "3.7"

[scripts]
pep8 = "bash ./pep8.sh"